@import "vars";
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #171919;
    text-transform: uppercase;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
.subtitle {
    display: inline-block;
    text-align: right;
    &__head {
        font-weight: 800;
        font-size: 40px;
        padding-right: 10px;
        span {
            font-weight: 100;
        }
    }
    
}
.descr {
    display: inline-block;
    text-align: left;
    &__head {
        font-weight: 800;
        font-size: 40px;
        padding-right: 10px;
        span {
            font-weight: 100;
        }
    }
}
.shop__star-list {
    li {
        display: inline-block;
        img {
            position: static;
        }
    }
   
}
.headline-left {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;

    color: rgba(255, 255, 255, .5);
    &:after {
        content: '';
        position: absolute;
        left: -70px;
        bottom: 50%;
        transform: translate(-50%, 0);
        background: rgba(255, 255, 255, .5);
        height: 2px;
        width: 80px;
    }
}
.headline-right {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;

    color: rgba(255, 255, 255, .5);
    &:after {
        content: '';
        position: absolute;
        right: -140px;
        bottom: 50%;
        transform: translate(-50%, 0);
        background: rgba(255, 255, 255, .5);
        height: 2px;
        width: 80px;
    }
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
.title {
    span 
    {
        font-size: 200px;
        font-weight: 800;
        transform: translateX(-50px);
        position: relative;
        display: inline-block;
        color: rgba(#fff, .02);

}
    h3 {
        position: absolute;
        top: 0;
        right: -14px;
        margin: 0;
        color: #fff;
        font-size: 80px;
        &::after {
            content: '';
            position: absolute;
            background-color: $bronze;
            height: 1px;
            width: 80px;
            top: 0;
            right: 0;
        }
    }

}